_cmake/
.DS_Store
.idea
*.cmake
*.sln
*.vcxproj
*.vcxproj.filters
build
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.DotSettings.user
CMakeScripts/
Debug/
Makefile
MinimalEngine.xcodeproj/
MinSizeRel/
Release/
RelWithDebInfo/
x64/
